<% if object.errors.any? %> 
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(object.errors.count, "error") %>.
    </div>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li> 
      <% end %>
    </ul>
  </div> 
<% end %>

<!--#Replacing the users with object to work for both microposts and users. -->
<!--#for form its f is form object, so f.object is the user object.-->
<!--#f.object in microposts - microposts is object-->